*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Oxanium", sans-serif;
}

body{
    background-color: rgb(19, 18, 18);
    color: white;
}

.container{
    display: grid;
    place-items: center;
    height: 100vh;
}

.content{
    padding: 40px 20px;
    background-color: rgb(32, 31, 31);
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 20px;

    & span{
        color: rgb(143, 24, 24);
        font-size: 6rem;
    }
}

.watch-content p{
    font-size: 10rem;
}